{% extends 'base.html.twig' %}

{% block title %}Clampophilie - Ma commande{% endblock %}

{% block content %}
    <h1> Ma commande n°{{ order.reference }} </h1>

    <p>
        Bienvenue {{ app.user.firstname }} dans votre commande. <br/>
    </p>
    <a href="{{ path('account') }}">Retour</a>
    <div>
       <strong> Commande passée le :</strong>  {{ order.createdAt|date('d/m/Y') }} <br>
       <strong>Référence de la commande :</strong> <small>{{ order.reference }} </small><br>
       <strong>Type de transport :</strong> {{ order.carrierName }}
    </div>
    <hr>
    <div>
        <strong>Détail de la commande : </strong>
        <table class="table table-hover mb-5 mt-5">
            <thead class="table-info">
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td>{{ product.product }}</td>
                    <td>x{{ product.quantity }}</td>
                    <td>{{ (product.price / 100)|number_format(2, ',', '.')}} € </td>
                    <td>{{ (product.total / 100)|number_format(2, ',', '.')}} € </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <strong>SOUS TOTAL : </strong>{{ (order.getTotal / 100)|number_format(2, ',', '.')}} € <br>
            <strong>LIVRAISON : </strong>{{ (order.carrierPrice / 100)|number_format(2, ',', '.')}} €<br>
            <strong>TOTAL : </strong>{{((order.carrierPrice + order.getTotal)/100)|number_format(2, ',', '.')}} €
        </div>
    </div>
    <div class="mb-5"></div>
{% endblock %}
